.heading {
  color: #880e4f;
  font-family: "Playfair Display", serif;
  font-size: 70px;
  margin-left: 45px; }

.bodyText {
  color: #2c2929;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

.movieTitle {
  font-family: 'Playfair Display', serif;
  font-weight: 600; }
